@import "tailwindcss";
@import "./styles.css";
@plugin "daisyui" {
  themes: nord --default, dark --prefersdark;
}

.bento-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-auto-columns: 1fr;
  gap: 1rem;
}

@media (width >= 768px) {
  .bento-box {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: none;
    grid-template-areas:
      "area-1 area-1 area-1 area-1"
      "area-2 area-2 area-3 area-3"
      "area-4 area-4 area-5 area-5"
      "area-6 area-6 area-6 area-6";
    gap: 1rem;
  }

  .bento-box__area-1 {
    grid-area: area-1;
  }

  .bento-box__area-2 {
    grid-area: area-2;
  }

  .bento-box__area-3 {
    grid-area: area-3;
  }

  .bento-box__area-4 {
    grid-area: area-4;
  }

  .bento-box__area-5 {
    grid-area: area-5;
  }

  .bento-box__area-6 {
    grid-area: area-6;
  }
}

@media (width >= 1024px) {
  .bento-box {
    grid-template-areas:
      "area-1 area-1 area-3 area-3"
      "area-2 area-2 area-4 area-4"
      "area-5 area-5 area-6 area-6";
  }
}

@media (width >= 1280px) {
  .bento-box {
    grid-template-areas:
      "area-1 area-1 area-5 area-6"
      "area-2 area-3 area-4 area-4";
  }
}
